body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:92px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:111px;
  width:140px;
  height:91px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:59px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:586px;
  width:83px;
  height:58px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
