body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:40px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:156px;
  width:38px;
  height:39px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:41px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:212px;
  width:341px;
  height:40px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:92px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:111px;
  width:140px;
  height:91px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
