body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:820px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:402px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:69px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:561px;
  width:82px;
  height:68px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:92px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:111px;
  width:140px;
  height:91px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
